doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(href='https://fonts.googleapis.com/css?family=Oswald:300',rel='stylesheet',type='text/css')
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/bootstrap.css")



	body
		div(class="content-fluid")
			div(class="cuentas")
				div(class="usuario")
					div(class="imagenes", style="background-image: url(http://polar-beach-4087.herokuapp.com/media/media/useraccounts/covers/mef.jpg")
						img.img-picture(src='http://polar-beach-4087.herokuapp.com/media/media/useraccounts/pictures/mebw.png', alt='')
						span.username pablotrinidad
						span.biography Young Backend Developer at Mexico City
					div.informacion
						span.first_name Pablo Trinidad
						span.email p@pablotrinidad.me
					div.tweets
						ol
							li
								span.tweet Leí los mensajes entre Kate y el Chapo y en ningún momento se enviaron los emojis de changuitos, claramente esa relación no iba a funcionar.
								span.fecha 12/23/1919
							li
								span.tweet Leí los mensajes entre Kate y el Chapo y en ningún momento se enviaron los emojis de changuitos, claramente esa relación no iba a funcionar.
								span.fecha 12/23/1919
							li
								span.tweet Leí los mensajes entre Kate y el Chapo y en ningún momento se enviaron los emojis de changuitos, claramente esa relación no iba a funcionar.
								span.fecha 12/23/1919
				div(class="usuario")
					div(class="imagenes", style="background-image: url(http://polar-beach-4087.herokuapp.com/media/media/useraccounts/covers/mef.jpg")
						img.img-picture(src='http://polar-beach-4087.herokuapp.com/media/media/useraccounts/pictures/mebw.png', alt='')
						span.username pablotrinidad
						span.biography Young Backend Developer at Mexico City
					div.informacion
						span.first_name Pablo Trinidad
						span.email p@pablotrinidad.me
					div.tweets
						ol
							li
								span.tweet Leí los mensajes entre Kate y el Chapo y en ningún momento se enviaron los emojis de changuitos, claramente esa relación no iba a funcionar.
								span.fecha 12/23/1919
							li
								span.tweet Leí los mensajes entre Kate y el Chapo y en ningún momento se enviaron los emojis de changuitos, claramente esa relación no iba a funcionar.
								span.fecha 12/23/1919
							li
								span.tweet Leí los mensajes entre Kate y el Chapo y en ningún momento se enviaron los emojis de changuitos, claramente esa relación no iba a funcionar.
								span.fecha 12/23/1919



		

		script(src="scripts/jquery.js")
		script(src="scripts/bootstrap.js")
		script(src="scripts/scriptUsuarios.js")
		script(src="scripts/scriptTweets.js")
		script(src="scripts/scriptCuentas.js")

		