doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/bootstrap.css")

	body

		script(src="scripts/jquery.js")
		script(src="scripts/bootstrap.js")
		script(src="scripts/script.js")