link(rel="import", href="../bower_components/polymer/polymer.html")
link(rel="stylesheet", href="../css/style.css")
dom-module(id="tweet-template")
	template
		span(class="user-tweet-usuario") 
		span(class="user-fecha-tweet")

	script.
		Polymer({ is: "tweet-template" });